<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="UpdateExistingItem" method = "post">
<input type = "hidden" name = "editedColumn" value = "nothing changed">
<table id = "todoTable" style = "width:50%">

<tr>
<td>isComplete</td>
<td>TodoItem</td>
<td>Date</td>
<td>Owner</td>
</tr>
<tr>
<td><input type = "checkbox" name = "status" ></td>
<td><input type = "text" name = "todo" value = "<%= request.getParameter("todoPoint");" ></td>
<td><input type = "text" name = "date" value = "" ></td>
<td><input type = "text" name = "owner" value = "" ></td>
</tr>
<tr>
<td><input type = "hidden" name = "prevStatus" value = ""></td>
<td><input type = "hidden" name = "prevTodo" value = "<%= request.getParameter("todoPoint");" ></td>
<td><input type = "hidden" name = "prevDate" value = "" ></td>
<td><input type = "hidden" name = "prevOwner" value = "" ></td>
</tr>
</table>
<input type = "submit" value = "OK">
</form>
</body>
</html>